.briancenter{
    text-align: center;
    color: chocolate;
    background-color: #31d2f2;
    }
.briantext{
    border-radius: 15px;
    background-color: aqua;
    padding: 30px 40px;
    width: 80%;
    margin: 0px auto;
}
.briankk{
    padding: 30px 40px;
    background-color: black;
    border-radius: 30px;
    margin: 40px auto 30px auto;
    color: white;
    width: 80%;
    height: 100px;
    overflow: scroll;
}

a.brianlink{
    color: blue;
    padding: 0 30px;
    border-radius: 20px;
    background-color: rgb(58, 58, 59);    
}

a.brianlink:hover{
    background-color: blue;
    color: white;
    padding: 10px;
}

a.brianhighschool{
    color: blue;
    padding: 0 30px;
    border-radius: 20px;
    background-color: rgb(58, 58, 59);
}

a.brianhighschool:hover{
    background-color: blue;
    color: white;
    padding: 10px;
}

.brianbig{
    font-size: 20px;
    font-weight: 800;
}

.briango{
    font-size: 50px;
    text-align: center;
}

.briango a:hover{
    font-size: 70px;
    color: red;
}

section#about{
    background-color: #31d2f2;
    background-image: url("../assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section#cta{
    background-color: #31d2f2;
}


h2 {
    color: black; 
}

h5 {
    color: black; 
}

h1 {
    color: black; 
}

h3 {
    color: black; 
}

h4 {
    color: black; 
}

p {
    color: black
}

